<div class="container grid">


  <!-- Formulário (Esquerda) -->
  <div class="col-6">
    <p-card class="card-container">
      <ng-template pTemplate="header">
        <div class="header-content" style="display: flex; align-items: center; justify-content: space-between; padding: 0.5rem 1rem;">
          <h3 class="header-title" style="margin: 0;">Simulação - Renda Fixa</h3>
          <p-button icon="pi pi-refresh" label="Limpar" class="clean-button" (click)="limpar()"></p-button>
        </div>
      </ng-template>

      <ng-template pTemplate="content">
        <form [formGroup]="simulacaoForm">
          <div class="form-container">
            <div class="p-fluid p-grid">

              <p-inputgroup>
                <p-inputGroupAddon>
                  <i class="pi pi-dollar"></i>
                </p-inputGroupAddon>
                <p-floatlabel  variant="in">
                  <p-inputNumber id="valorInicial" formControlName="valorInicial"
                   mode="decimal" [prefix]="'R$ '" min="0.0"
                   pTooltip="Informe o valor inicial aplicado na simulação."
                   tooltipPosition="right">
                  </p-inputNumber>
                  <label for="valorInicial">Valor inicial </label>
                </p-floatlabel>
              </p-inputgroup>

              <p-inputgroup>
                <p-inputGroupAddon>
                  <i class="pi pi-dollar"></i>
                </p-inputGroupAddon>
                <p-floatlabel  variant="in">
                  <p-inputNumber id="aporteMensal" formControlName="aporteMensal"
                   mode="decimal" [prefix]="'R$ '" min="0.0"
                   pTooltip="Valor a ser investido mensalmente."
                   tooltipPosition="right">
                  </p-inputNumber>
                  <label for="aporteMensal">Aporte mensal</label>
                </p-floatlabel>
              </p-inputgroup>

              <p-inputgroup>
                <p-inputGroupAddon>
                  <i class="pi pi-calendar"></i>
                </p-inputGroupAddon>
                <p-floatlabel  variant="in">
                 <p-inputNumber id="tempo" formControlName="tempo" [min]="1"
                  pTooltip="Periodo de tempo que estará investido."
                  tooltipPosition="right">

                 </p-inputNumber>
                 <label for="tempo">Tempo</label>
                </p-floatlabel>
                <p-inputGroupAddon>
                  <p-select [options]="periodoOptions" formControlName="periodo" class="custom-addon"></p-select>
                </p-inputGroupAddon>
              </p-inputgroup>

              <p-inputgroup>
                <p-inputGroupAddon>
                  <i class="pi pi-chart-line"></i>
                </p-inputGroupAddon>
                <p-floatlabel  variant="in">
                  <p-inputNumber id="taxaDI" formControlName="taxaDI"
                   mode="decimal"
                   pTooltip="Percentual atual da taxa CDI"
                   tooltipPosition="right"> </p-inputNumber>
                  <label for="taxaDI">Taxa DI</label>
                </p-floatlabel>
                <p-inputGroupAddon>
                  % a.a.
                </p-inputGroupAddon>
              </p-inputgroup>

              <p-inputgroup>
                <p-inputGroupAddon>
                  <i class="pi pi-percentage"></i>
                </p-inputGroupAddon>
                <p-floatlabel  variant="in">
                  <p-inputNumber id="taxaCDB" formControlName="taxaCDB"
                   mode="decimal"
                   pTooltip="Porcentagem de rendimento em titulos CDB"
                   tooltipPosition="right">
                  </p-inputNumber>
                  <label for="taxaCDB">Taxa CDB</label>
                </p-floatlabel>
                <p-inputGroupAddon>
                  <p-select [options]="fixadoOptions" formControlName="fixadoCDB"
                            (onChange)="resetarTaxa('taxaCDB')" class="custom-addon"></p-select>
                </p-inputGroupAddon>
              </p-inputgroup>

              <p-inputgroup>
                <p-inputGroupAddon>
                  <i class="pi pi-percentage"></i>
                </p-inputGroupAddon>
                <p-floatlabel  variant="in">
                  <p-inputNumber id="taxaLC" formControlName="taxaLC"
                   mode="decimal"
                   pTooltip="Porcentagem de rendimento em titulos LCA/LCI"
                   tooltipPosition="right" > </p-inputNumber>
                  <label for="taxaLC">Taxa LCA/LCI</label>
                </p-floatlabel>
                <p-inputGroupAddon>
                  <p-select [options]="fixadoOptions" formControlName="fixadoLC"
                          (onChange)="resetarTaxa('taxaLC')" class="custom-addon">
                  </p-select>
                </p-inputGroupAddon>
              </p-inputgroup>
            </div>
          </div>
        </form>
      </ng-template>
    </p-card>
  </div>

  <!-- Gráfico (Direita) -->
  <div class="col-6">
    <p-card class="card-container">
      <ng-template pTemplate="header">
        <p-tabMenu [model]="tabs" ></p-tabMenu>
      </ng-template>

      <ng-template pTemplate="content">

        <div *ngIf="activeTab === 'dados'">
          <p-accordion [activeIndex]="activePanels" [multiple]="true">
            <app-simulacao-dados
              [poupanca]="poupanca"
              [cdb]="cdb"
              [lca_lci]="lca_lci"
              [simulacaoForm]="simulacaoForm"
            ></app-simulacao-dados>
          </p-accordion>
        </div>

        <div *ngIf="activeTab === 'grafico'">
          <app-simulacao-grafico
            [labels]="labels"
            [poupanca]="poupanca"
            [cdb]="cdb"
            [lca_lci]="lca_lci"
          ></app-simulacao-grafico>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
