<p-accordion-panel>
    <p-accordion-header>{{ titulo }}</p-accordion-header>
    <p-accordion-content>
      <p>Valor total investido: <strong>{{ formatar(valorInvestido)}}</strong></p> 
      <p>Rendimento bruto: <strong>{{ formatar(rendimentoBruto)}}</strong></p>
      @if(titulo == "CDB"){
        <p>Imposto de renda: <strong>{{ formatar(valorImpostoRenda) }}</strong>  <p-badge value="{{taxaImpostoRenda}} %" severity="danger"></p-badge></p>
      }
      <p>Rendimento liquido: <strong>{{ formatar(rendimentoLiquido) }}</strong></p>
      <p>Valor total liquido: <strong>{{ formatar(valorLiquido) }}</strong></p>
      <p-progressBar [value]="formatar(percentual)" [showValue]="true"></p-progressBar>
    </p-accordion-content>
  </p-accordion-panel>