<p-accordion-panel>
    <p-accordion-header>{{ titulo }}</p-accordion-header>
    <p-accordion-content>
      <p>Valor total investido: {{ valorInvestido.toFixed(2)}}</p> 
      <p>Rendimento bruto: {{ rendimentoBruto.toFixed(2)}}</p>
      <p>Rendimento liquido: {{ rendimentoLiquido.toFixed(2) }}</p>
      <p>Valor total liquido: {{ valorLiquido.toFixed(2) }}</p>
      <p-progressBar [value]="percentual.toFixed(2)" [showValue]="true"></p-progressBar>
    </p-accordion-content>
  </p-accordion-panel>