<p-accordion-panel>
    <p-accordion-header>{{ titulo }}</p-accordion-header>
    <p-accordion-content>
      <p>Valor total investido: {{ formatar(valorInvestido)}}</p> 
      <p>Rendimento bruto: {{ formatar(rendimentoBruto)}}</p>
      @if(titulo == "CDB"){
        <p>Imposto de renda: {{ formatar(valorImpostoRenda) }}  <p-badge value="{{taxaImpostoRenda}} %" severity="danger"></p-badge></p>
      }
      <p>Rendimento liquido: {{ formatar(rendimentoLiquido) }}</p>
      <p>Valor total liquido: {{ formatar(valorLiquido) }}</p>
      <p-progressBar [value]="formatar(percentual)" [showValue]="true"></p-progressBar>
    </p-accordion-content>
  </p-accordion-panel>